@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  /* background: linear-gradient(#212121, #263238);  não conseguirei usar pois não consigo adaptar o layout da lista de jogos*/
  background-color: #212121;
  max-width: 100vw;
  height: 100vh;
}

.true-header{ 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  color: #ffffff;
}

.search-div p {
  margin-left: 10px;
}

.link-to-home {
  text-decoration: none;
  color: #ffffff;
}

.true-header input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #4f5b62;
  color: #ffffff;
  width: 200px;
}

.true-header input::placeholder{
  color: #ffffff;
}

.single-link {
  width: 200px;
  text-align: center;
}

.single-link a {
  transition: 0.3s ease all
}

.single-link a:hover{
  font-size: 18px;
  font-weight: 600;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  align-items: center;
}

.true-header a {
  color: #ffffff;
  text-decoration: none;
}

.homepage-div {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;
}

.homepage-main-content{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 3% 0 0 5%;
}

.homepage-main-content input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #4f5b62;
  color: #ffffff;
  width: 80%;
  margin: 5% 0 0  10%;
}

.homepage-main-content input::placeholder{
  color: #ffffff;
}

.main-title h1 {
  color: white;
  font-size: 48px;
  
}

.gamepad-div{
  margin-top: 12%;
}

.gamepad-image {
  width: 50%;
  margin-left: 25%;
  filter: invert(100%) sepia(0%) saturate(7475%) hue-rotate(126deg) brightness(100%) contrast(96%);
}

.search-div {
  color: #ffffff;
  padding: 2% 5%;
}

.search-div h1 {
  font-size: 20px;
}

.single-game-found {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 4% 0 0 10%;
  height: 100%;
  background-color: #263238;
  padding : 3% 0;
  border-radius: 12px;
}

.image-single-game {
  width: 30%;
  display: flex;
  justify-content: center;
}

.mobile-top, .mobile-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

.name-single-game {
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.price-single-game {
  width: 30%;
  display: flex;
  justify-content: center;
}

.link-single-game {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-single-game a {
  background-color: #ffffff;
  color: #263238;
  text-decoration: none;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  font-weight: 600;
  border: 2px solid #ffffff;
  transition: 0.3s ease all;
}


.link-single-game a:hover{
  background-color: #263238;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.game-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4% 0 0 10%;
  height: 100%;
  width: 80%;
  background-color: #263238;
  border-radius: 12px;
  color: white;
}

.left {
  padding: 3% 0% 3% 5%;
  width: 50%;
}

.right {
  padding: 3% 5%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right img {
  max-width: fit-content;
  height: fit-content;
}

.main-game-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0% 5%;
  width: 200%;
}

.main-game-info h1 {
  font-size: 40px;
}

.price-p {
  font-size: 22px;
  font-weight: 600;
  margin-top: 3%;
}

.more-info {
  background-color: #4f5b62;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35vh;
  width: 35vw;
  border-radius: 12px;
  margin-top: 2%;
}

.div-info p {
  display: flex;
  align-items: center;
}

.div-info p img {
  margin: 0px 10px;
}

.div-info{
  display: flex;
  flex-direction: row;
  width: 100%; 
  justify-content: space-between; 
}

.div-info button {
  background-color: #ffffff;
  color: #263238;
  text-decoration: none;
  width: 25%;
  cursor: pointer;
  text-align: center;
  padding: 4px;
  border-radius: 10px;
  font-weight: 600;
  border: 2px solid #263238;
  transition: 0.3s ease all;
}

.div-info button:hover {
  background-color: #263238;
  color: #ffffff;
  border: 2px solid #263238;
}

.about-us-div {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5% 10%;
  background-color: #263238;
  color: white;
  padding: 5%;
  border-radius: 20px;
}

.about-us-div h1{
  margin-bottom: 10px;
}

.about-us-div p a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.name-single-game{
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-single-game{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.old-price-p {
  text-decoration: line-through;
  color: #615b5b;
  margin-top: 5%;
}


@media (max-width: 800px) {
  .single-link{
    display: none;
  }
  .game-div{
    flex-direction: column-reverse;
  }
  .right, .left{
    width: 100%;
  }
  .more-info{
    width: 95%;
  }
  .homepage-div {
    flex-direction: column;
  }
  .main-title h1{
    margin-top: 10%;
    font-size: 32px;
  }
  .input-search{
    margin: 10% 0% 15% 0%;
  }
  .game-list-div{
    width: 100%;
  }
  .single-game-found{
    flex-direction: column;
  }
  .single-game-found img {
    max-width: 100px;
  }
  .mobile-bottom, .mobile-top {
    width: 100%;
    margin: 5% 0%;
  }
  .main-game-info {
    width: 100%;
  }
  .mobile-bottom a {
    justify-content: center;
    width: 30vw;
    align-items: center;
    height: 40px;
  }
  .mobile-top img {
    padding: 3px;
  }
  .search-div {
    width: 100%;
  }
  .search-data {
    margin-left: 30px;
  }
}